[submodule "src/rosbridge_suite"]
	path = src/rosbridge_suite
	url = https://github.com/RobotWebTools/rosbridge_suite.git
[submodule "src/web_video_server"]
	path = src/web_video_server
	url = https://github.com/RobotWebTools/web_video_server.git
